:root {
    --button-color: #6C63FF;
    --color-header: #F9F7FE;
    --font-color: #272142;
    --head-font: 'Playfair Display', serif;
    --content-font: 'Poppins', sans-serif;
}
body {
    font-family: var(--content-font);
    font-weight: 400;
}
h1 {
    margin-bottom: 24px;
    font-family: var(--head-font);
    font-size: 96px;
}
img {
    max-width: 100%;
    height: auto;
}
.header {
    padding: 160px 25px;
    text-align: center;
    background: var(--color-header);
}
.header p {
    font-size: 36px;
    font-weight: 700;
    color: var(--font-color);
}
.header h2 {
    margin-bottom: 49px;
    font-size: 24px;
    font-weight: 400;
}
.btn-contact-me {
    background: var(--button-color);
    color: white;
    font-size: 18px;
    padding: 18px 46px;
    line-height: 27px;
    border-radius: 4px;
}
.btn-contact-me:hover {
    background: var(--button-color) !important;
}
.project {
    padding: 120px 60px;
}
.project h2 {
    margin-bottom: 55px;
    font-family: var(--head-font);
    font-size: 64px;
    font-weight: 700;
}
.project p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.btn-content {
    padding: 18px 25px;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    color: var(--button-color);
    font-weight: 500;
}
.btn-content:hover {
    border: 1px solid var(--button-color) !important;
}

@media (max-width:900px) {
    h1 {
        font-size: 60px;
    }
    .col {
        padding: 0;
    }
    .header {
        padding: 90px 25px;
    }
    .project {
        padding: 0;
        text-align: center;
    }
    .project h2 {
        margin: 15px auto ;
        font-size: 50px;
    }
    .project p {
        margin: 15px auto;
    }
}