/* common  */
:root {
    --button-color: #6C63FF;
    --color-header: #F9F7FE;
    --font-color: rgba(39, 33, 66, 0.7);
    --head-font: 'Playfair Display', serif;
    --content-font: 'Poppins', sans-serif;
}
body {
    font-family: var(--content-font);
    font-weight: 400;
}
h1, h2, h3, h4 {
    font-family: var(--head-font);
}
p {
    color: var(--font-color);
}
img {
    max-width: 100%;
    height: auto;
}
/* NAVIGATION  */
.logo {
    max-height: 40px;
    margin: 0;
}
nav {
    padding: 30px 0;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-left: 20px;
    list-style: none;
    line-height: 45px;
}
li a {
    text-decoration: none;
    color: var(--font-color);
}
li a:hover, .active-link {
    font-size: 16px;
    line-height: 18px;
    color: var(--button-color);
}

/* MAIN  */
.main-content {
    padding: 140px 20px;
}
.content h1 {
    font-size: 64px;
    line-height: 85px;
}
.main-content h2 {
    margin-bottom: 18px;
    font-size: 18px;
}
.main-content h3 {
    font-size: 24px;
    line-height: 36px;
}
.main-content p {
    margin-bottom: 48px;
    font-size: 16px;
}
.btn-content {
    padding: 18px 25px;
    font-weight: 500;
    border: 1px solid var(--button-color);
    border-radius: 4px;
    color: var(--button-color);
}
:not(.btn-check)+.btn:hover {
    border: 1px solid var(--button-color);
}

/* FOOTER  */
footer {
    margin: 30px;
}
footer .talk-here {
    background: var(--color-header);
    margin: 80px auto;
    padding: 30px 120px;
    border-radius: 20px;
}
.talk-here h4 {
    font-size: 48px;
    font-weight: 700;
}
.talk-here p {
    margin: 18px;
}
.talk-here .btn {
    margin-top: 25px;
}
.email {
    margin-bottom: 41px;
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}
.email:hover {
    color: var(--button-color);
}
.icons a {
    margin: 0 25px;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 400;
    color: var(--button-color);
    background: var(--color-header);
    transition: all 100ms ease-in-out;
}
.icons a:hover {
    color: var(--color-header);
    background: var(--button-color);
}

/* HOME  */
.header-home {
    padding: 40px 139px 271px 165px;
    text-align: center;
    background: var(--color-header);
}
.header-home h1 {
    margin-bottom: 24px;
    font-size: 96px;
    line-height: 127px;
}
.header-home h2 {
    margin-bottom: 49px;
    font-family: var(--font-color);
    font-size: 24px;
    font-weight: 400;
    color: var(--font-color);
}
.header-home p {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(39, 33, 66, 1);
}
.btn-contact-me {
    font-size: 18px;
    padding: 18px 46px;
    line-height: 27px;
    border-radius: 4px;
    color: white;
    background: var(--button-color);
}
.btn:first-child:hover {
    background: var(--button-color);
}
.project {
    padding: 120px 60px;
}
.project h2 {
    margin-bottom: 55px;
    font-size: 64px;
    font-weight: 700;
}
.project p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

@media (max-width:900px) {
img {
    margin-top: 15px;
} 
/* MAIN  */
.main-content {
    padding: 70px 25px;
    text-align: center;
}
.main-content h1 {
    font-size: 34px;
    line-height: 60px;
}
.main-content h2 {
    margin-bottom: 18px;
    font-size: 18px;
}
.main-content p {
    margin-bottom: 48px;
    font-size: 16px;
}

/* HOME  */
.header-home {
    padding: 70px 25px;
}
.header-home h1 {
    font-size: 60px;
}
.project {
    padding: 0;
    text-align: center;
}
.project h2 {
    margin: 15px auto;
    font-size: 50px;
}
.project p {
    margin: 15px auto;
}
}